html{
    font-family: "Lato";
    color: white;
}
body {
    margin: 0px;
    padding: 0px;
    display: block;
}

header {
    position: fixed;
    width: 100%;
    height: 25%;
    left: 0%;
    top: 0%;
    background-color: #2b2a29;
    border: red;
}

#header_container, #footer_container {
    display: inline-flex;
}

#image1, #image2 {
    position: relative;
    width: 22%;
    height: 22%;
    top: 10px;
    left: 2%;
}

main {
    background-color: green;
    width: 100%;
    /* height: 50%; */
}

footer {
    position: fixed;
    width: 100%;
    height: 15%;
    bottom: 0%;
    /* left: 0%; */
    background-color: #1979a9;
    color: white;
}

#item1 {
    /* display: inline; */
    position: relative;
    left: 10%;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    /* color: red; */
}

/* #text_item1 {
    color: red;
} */